<!DOCTYPE html>
<html>
  <head>
    <title>UserRegistrationSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='nav'>
      <% if current_user %>
        Logged in as <%= current_user.email %>.
        <div class='nav-item'><%= link_to 'Log Out', logout_path %></div>
      <% else %>
        <div class='nav-item'><%= link_to 'Sign Up', signup_path %></div> |
        <div class='nav-item'><%= link_to 'Log In', login_path %></div> |
        <div class='nav-item'><%= link_to 'Forgot password', new_password_reset_path %></div>
      <% end %>
    </div>
    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>
    <%= yield %>
  </body>
</html>
